<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
  <footer>
    <hr>
    <div style="height:20px;"></div>
    <div class="text-center" style="color:#9a9a9a;font-size: 12px;">
      <p>골든티켓(주) 대표이사 000 | 사업자 등록번호 000-00-00000</p>
      <p>주소 서울시 강남구 새술빌딩 | 대표전화 0000-0000 | 이메일 0000@00000.com | 호스팅 서비스 제공 AWS</p>
      <p>모든 콘텐츠의 저작권은 저작권자 또는 제공처에 있으며, 이를 무단으로 이용하는 경우 관련 법령에 따라 법적 책임을 질 수 있습니다.</p>
      <div style="height:50px;"></div>
      <p>이용약관 | 개인정보처리방침 | 청소년보호정책 | 책임의 한계와 법적고지 | 고객센터</p>
      <b>©GoldenTicket</b>
      <div style="height:50px;"></div>
    </div>
  </footer>
</th:block>
</html>