<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
  <div class="container">
    <div style="height:100px;"></div>
    <div><h2 class="fw-bold">골든티켓 라운지</h2></div>
    <hr>
    <div style="height:5px;"></div>
    <input type="hidden" id="article-id" th:value="${article.id}">
    <div><b style="font-size:20px;"><th:block th:text="'[' + ${article.categoryname} + ']'" style="margin-right: 5px;"></th:block><th:block th:text="${article.title}"></th:block></b></div>
    <div style="height:6px;"></div>
    <div class="row">
      <div class="col"><th:block th:text="${article.nickname}"></th:block> │ <th:block  style="color:#555;font-size:15px;" th:text="${#temporals.format(article.regdate,'yyyy-MM-dd HH:mm')}"></th:block></div>
      <div class="col" style="text-align: right;"><th:block th:text="'조회 ' + ${article.hit}"></th:block> │ <th:block th:text="'댓글 ' + ${totalReplies}"></th:block></div>
    </div>
    <hr>
    <div style="height:10px;"></div>
    <div th:text="${article.content}"></div>
    <div style="height:350px;"></div>
    <!--<div class="d-flex justify-content-center">
      <button type="button" class="btn btn-light"><span>👍🏻 </span></button>
      <span style="width:15px"></span>
      <button type="button" class="btn btn-light">👎🏻 0</button>
    </div>-->
    <div style="font-size: 14px;">전체 댓글 <th:block th:text="${totalReplies}"></th:block>개</div>
    <!--<hr>-->
    <div style="height:10px;"></div>
    <div class="row" th:each="item, iterStat: ${replies}">
		<hr>
		<div class="col-2"><th:block th:text="${item.nickname}"></th:block></div>
		<div class="col-7"><th:block th:text="${item.content}"></th:block></div>
		<!--로그인하지 않았거나 내가 쓴 댓글이 아닌 경우-->
		<div class="col-1" th:if="${session.id == null or session.id != item.mem_id}"></div>
		<div class="col-2" th:if="${session.id == null or session.id != item.mem_id}">
			<th:block th:text="${#temporals.format(item.regdate,'yyyy-MM-dd HH:mm')}" ></th:block>
		</div>
		<!-- 내가 쓴 리뷰는 삭제버튼 생성 -->
		<div class="col-2" th:if="${session.id == item.mem_id}">
			<th:block th:text="${#temporals.format(item.regdate,'yyyy-MM-dd HH:mm')}" ></th:block>
		</div>
		<div class="col-1" th:if="${session.id == item.mem_id}">
			<button type="button" class="btn btn-danger" onclick="delete_reply()">X</button>
		</div>
		<input type="hidden" th:value="${item.id}" id="reply_id">
		<div style="height:13px;"></div>
		<hr th:if="${iterStat.last}">
	</div>
    <!--<table class="table">
	  <tbody th:each="item : ${replies}">
	    <tr>
	      <td th:text="${item.nickname}"></td>
	      <td colspan="3" th:text="${item.content}"></td>
	      <td>
			  <button type="button" class="btn btn-light"><span th:text="${item.likes}">👍🏻 </span></button>
			  <button type="button" class="btn btn-light">👎🏻<span th:text="${item.dislikes}"></span></button>
		  </td>
		  <td th:text="${#temporals.format(item.regdate,'yyyy-MM-dd HH:mm')}"></td>
	    </tr>
	  </tbody>
	</table>-->
    <div style="height:20px"></div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center text-dark">
        <!--<li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>-->
        <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" class="page-item">
                <a th:href="@{'/board/'+ ${article.id} +'?page=' + ${pageNumber}}" th:text="${pageNumber}" th:class="${pageNumber == currentPage} ? 'page-link active' : 'page-link'"></a>
            </li>
        <!--<li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>-->
      </ul>
    </nav>
    <div style="height:10px"></div>
    <div class="row">
      <div class="col-2"><input class="form-control" type="text" th:placeholder="${session.nickname != null} ? ${session.nickname} : '로그인 필요'" disabled/></div>
      <div class="col-10">
        <textarea class="form-control" rows="3" id="replyTextArea"></textarea>
      </div>
    </div>
    <div style="height:15px"></div>
    <div class="row">
      <div class="col">
        <button style="margin-right: 10px;" type="button" onclick="location.href='/board'" class="btn btn-outline-secondary">글 목록</button>
        <th:block th:if="${session.id}==${article.mem_id}">
	        <button style="margin-right: 10px;" type="button" th:onclick="|location.href='/board/update/${article.id}'|" class="btn btn-outline-dark">수정</button>
	        <button type="button" id="delete-btn" class="btn btn-outline-danger" onclick="delete_article()">삭제</button>
        </th:block>
      </div>
      <input type="hidden" th:value="${article.id}" id="article_id">
      <input type="hidden" th:value="${session.id}" id="replywriter_id">
      <div class="col d-flex justify-content-end"><button class="btn btn-outline-success" onclick="replyValidate()">댓글 쓰기</button></div>
    </div>
    <div style="height:120px"></div>
  </div>
</th:block>
</html>