<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<!--Content-->
<div class="container">
  <script>
	$(function(){
		const pageSizeFromParam=document.getElementById('pageSizeValue').value;
	    if(pageSizeFromParam=="15"){
			document.getElementById('selectoptionfirst').setAttribute("selected","selected");
		}else if(pageSizeFromParam=="20"){
			document.getElementById('selectoptionsecond').setAttribute("selected","selected");
		}else if(pageSizeFromParam=="25"){
			document.getElementById('selectoptionthird').setAttribute("selected","selected");
		}
	})
  </script>
  <div style="height:100px;"></div>
  <div><h2 class="fw-bold">골든티켓 라운지</h2></div>
  <hr>
  <!--<div style="height:10px;"></div>-->
  <div class="row">
    <div class="col-11">
		<button type="button" class="btn btn-outline-dark fw-bold" style="margin-right:20px;">
			<a style="text-decoration: none; color: inherit;" th:href="@{'/board?category=0&pagesize=' + ${pagesize}}">전체</a>
		</button>
		<button type="button" class="btn btn-outline-dark fw-bold" style="margin-right:20px;">
			<a style="text-decoration: none; color: inherit;" th:href="@{'/board?category=1&pagesize=' + ${pagesize}}">공지</a>
		</button>
		<button type="button" class="btn btn-outline-dark fw-bold" style="margin-right:20px;">
			<a style="text-decoration: none; color: inherit;" th:href="@{'/board?category=2&pagesize=' + ${pagesize}}">뉴스</a>
		</button>
		<button type="button" class="btn btn-outline-dark fw-bold" style="margin-right:20px;">
			<a style="text-decoration: none; color: inherit;" th:href="@{'/board?category=3&pagesize=' + ${pagesize}}">리뷰</a>
		</button>
		<button type="button" class="btn btn-outline-dark fw-bold">
			<a style="text-decoration: none; color: inherit;" th:href="@{'/board?category=4&pagesize=' + ${pagesize}}">일반</a>
		</button>
    </div>
    <div class="col-1">
      <select class="form-select form-select-sm" aria-label="Default select example" id="pageSizeChange" onchange="selectpageSizeChange()">
        <option value="15" id="selectoptionfirst">15개</option>
        <option value="20" id="selectoptionsecond">20개</option>
        <option value="25" id="selectoptionthird">25개</option>
      </select>
    <input type="hidden" th:value="${pagesize}" id="pageSizeValue">
    <input type="hidden" th:value="${category}" id="pageCategoryValue">
    </div>
  </div>
  <div style="height:15px;"></div>
  <table class="table" style="text-align: center;">
    <thead class="table-light">
    <tr>
      <th scope="col">카테고리</th>
      <th scope="col" colspan="3">제목</th>
      <th scope="col">닉네임</th>
      <th scope="col">날짜</th>
      <th scope="col">조회</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${articles}">
      <td th:text="${item.categoryname}"></td>
      <td colspan="3"><a style="color:black" th:href="@{/board/{id}(id=${item.id})}"><th:block th:text="${item.title}"></th:block></a></td>
      <td th:text="${item.nickname}"></td>
      <td th:text="${#temporals.format(item.regdate,'yyyy-MM-dd HH:mm')}"></td>
      <td th:text="${item.hit}"></td>
    </tr>
    </tbody>
  </table>
  <div style="height:20px;"></div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center text-dark">
      <!--<li class="page-item">   추후에 적용시키기 10개씩 끊기
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>-->
      <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" class="page-item">
                <a th:href="@{'/board?page=' + ${pageNumber}}" th:text="${pageNumber}" th:class="${pageNumber == currentPage} ? 'page-link active' : 'page-link'"></a>
            </li>
      <!--<li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>-->
    </ul>
  </nav>
  <div style="height:30px"></div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-2 row">
      <div class="col-2"></div>
      <div class="col-10">
        <select class="form-select" aria-label="Default select example">
          <option value="1">제목</option>
          <option value="2">닉네임</option>
          <option value="3">제목+닉네임</option>
        </select>
      </div>
    </div>
    <div class="col-4 d-flex">
      <input type="text" class="form-control" id="search">
      <button type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="pointer-events: none;">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </div>
    <div class="col-3 d-flex justify-content-end"><button type="button" th:onclick="|location.href='@{/board/write}'|" class="btn btn-outline-success">글쓰기</button></div>
  </div>
  <div style="height:120px"></div>
</div>
</th:block>
</html>