<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
  <div style="height:105px"></div>
  <div class="container">
    <div class="d-flex justify-content-center"><p class="fw-bold fs-3">로그인</p></div>
    <div style="height:20px;"></div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"><span style="font-size: 14px;">아이디</span></div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"><input type="email" class="form-control" placeholder="이메일을 입력해주세요"></div>
      <div class="col-4"></div>
    </div>
    <div style="height:10px;"></div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"><span style="font-size: 14px;">비밀번호</span></div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"><input type="password" class="form-control" placeholder="비밀번호를 입력해주세요"></div>
      <div class="col-4"></div>
    </div>
    <div style="height:10px;"></div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="form-check d-flex justify-content-start">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" style="font-size: 13px;" for="flexCheckDefault">
            &nbsp;아이디 저장
          </label>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    <div style="height:10px;"></div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"><div class="d-grid gap-2"><button type="button" class="btn btn-dark">로그인</button></div></div>
      <div class="col-4"></div>
    </div>
    <div style="height:10px;"></div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"><div class="d-grid gap-2"><button type="button" class="btn btn-outline-dark">회원가입</button></div></div>
      <div class="col-4"></div>
    </div>
  </div>
</th:block>
</html>