<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div class="container">
      <div style="height:80px"></div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-light fw-bold" style="margin-right:20px;">전체</button>
            <button type="button" class="btn btn-light fw-bold" style="margin-right:20px;">액션</button>
            <button type="button" class="btn btn-light fw-bold" style="margin-right:20px;">공포/스릴러</button>
            <button type="button" class="btn btn-light fw-bold" style="margin-right:20px;">코미디</button>
            <button type="button" class="btn btn-light fw-bold" style="margin-right:20px;">SF/판타지</button>
            <button type="button" class="btn btn-light fw-bold" style="margin-right:20px;">드라마</button>
            <button type="button" class="btn btn-light fw-bold" style="margin-right:20px;">멜로</button>
            <button type="button" class="btn btn-light fw-bold" style="margin-right:20px;">애니메이션</button>
            <button type="button" class="btn btn-light fw-bold" style="margin-right:20px;">다큐멘터리</button>
          </div>
        <div style="height:70px"></div>
        <div class=><b class="fs-2">전체 영화 순위</b></div>
        <div style="height:30px"></div>
        <!--<hr>-->
        <div class="row" th:each="item, iterStat: ${movies}">
          <hr>
          <div class="col-1"><img th:src="@{/images/{poster}(poster=${item.poster})}" style="height:110px;"></div>
          <div class="col-9">
            <h5><a th:href="@{/movie/{id}(id=${item.id})}" style="color: black;"><b><th:block th:text="${item.ranking}"></th:block>&nbsp;<th:block th:text="${item.title}"></th:block></b></a></h5>
            <p style="color:grey"><th:block th:text="${#temporals.format(item.releasedate, 'yyyy')}"></th:block>&nbsp;&nbsp;<th:block th:text="${item.runningtime}+'분'"></th:block></p>
            <p style="color:grey"><img src="/images/star2.png" style="height:13px">&nbsp;<th:block th:text="${item.rating}"></th:block></p>
          </div>
          <div class="col-2"><div style="height: 35px;"></div><button type="button" class="btn btn-outline-secondary">북마크에 추가</button></div> <!--나중에 북마크 추가 기능 만들기-->
		  <div style="height:15px"></div>
		  <hr th:if="${iterStat.last}">
        </div>
        <!--<hr>-->
        <div style="height:30px"></div>
        <!-- 페이지네이션 시작 -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center text-dark">
            <!--<li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>-->
            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" class="page-item">
	                <a th:href="@{'/movie/ranking?page=' + ${pageNumber}}" th:text="${pageNumber}" th:class="${pageNumber == currentPage} ? 'page-link active' : 'page-link'"></a>
	            </li>
            <!--<li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>-->
          </ul>
        </nav>
        <div style="height:120px"></div>
    </div>
</th:block>
</html>