<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
	<script src="/js/mypage.js"></script>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <div style="height:75px;"></div>
          <b style="font-size: 22px;">마이페이지</b>
          <hr style="border:2px solid black;">
          <ul class="mb-auto" style="list-style-type: none; padding: 0; margin: 0;">
            <li class="nav-item"><a href="/mypage" style="text-decoration: none; color: inherit;">회원정보 수정</a></li>
            <hr>
            <li class="nav-item"><a href="/mypage/bookmark" style="text-decoration: none; color: inherit;">북마크 관리</a></li>
            <hr>
            <li class="nav-item"><a href="/mypage/review" style="text-decoration: none; color: inherit;">작성 리뷰 관리</a></li>
            <hr>
            <li class="nav-item"><a href="/mypage/article" style="text-decoration: none; color: inherit;">작성 게시물 관리</a></li>
            <hr>
            <li class="nav-item"><a href="/mypage/reply" style="text-decoration: none; color: inherit;">작성 댓글 관리</a></li>
          </ul>
        </div>
        <div class="col-10">
          <div style="height:70px;"></div>
          <div class="d-flex justify-content-start"><b class="fw-bold fs-3">작성 게시물 관리</b></div>
          <div style="height:50px;"></div>
          <div class="row" th:each="item, iterStat: ${articles}">
		  <hr>
		  <div class="col-2"><th:block th:text="${item.categoryname}"></th:block></div>
		  <div class="col-4"><a th:href="@{/board/{id}(id=${item.id})}" style="text-decoration: none; color: inherit;" th:text="${item.title}"></a></div>
		  <div class="col-1"><th:block th:text="${item.hit}"></th:block></div>
		  <div class="col-2">
			  <th:block th:text="${#temporals.format(item.regdate, 'yyyy.MM.dd HH:mm:ss')}" style="color:#555;font-size:15px;text-align: right;"></th:block>
		  </div>
		  <div class="col-3">
			  <button style="margin-right: 10px;" type="button" class="btn btn-outline-dark" th:onclick="|location.href='/board/update/${item.id}'|">수정</button>
			  <button type="button" class="btn btn-outline-danger" th:onclick="|mypage_article_delete(${item.id})|">삭제</button>
		  </div>
		  <div style="height:13px;"></div>
		  <hr th:if="${iterStat.last}">
	  </div>
          <div style="height:30px"></div>
          <!-- 페이지네이션 버튼 수정하기 -->
        <div class="d-flex justify-content-center">
		    <nav aria-label="Page navigation">
		          <ul class="pagination text-dark">
		            <!--<li class="page-item">
		              <a class="page-link" href="#" aria-label="Previous">
		                <span aria-hidden="true">&laquo;</span>
		              </a>
		            </li>-->
		            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" class="page-item">
		                <a th:href="@{'/mypage/article?page=' + ${pageNumber}}" th:text="${pageNumber}" th:class="${pageNumber == currentPage} ? 'page-link active' : 'page-link'"></a>
		            </li>
		            <!--<li class="page-item">
		              <a class="page-link" href="#" aria-label="Next">
		                <span aria-hidden="true">&raquo;</span>
		              </a>
		            </li>-->
		          </ul>
		    </nav>
	    </div>
          <div style="height:120px;"></div>
        </div>
      </div>
    </div>
</th:block>
</html>