<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
  <div style="height:105px"></div>
  <div class="container">
    <div class="d-flex justify-content-center"><p class="fw-bold fs-3">골든티켓 회원가입</p></div>
    <div style="height:20px;"></div>
      <!-- 토큰을 추가하여 CSRF 공격 방지 -->
      <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><span style="font-size: 14px;">이름</span></div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><input type="text" class="form-control" onchange="namecheck()" name="name" placeholder="이름을 입력해주세요"><div style="display:none;color:red;font-size:10px;">이름은 2글자이상입력입니다.</div></div>
        <div class="col-4"></div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><span style="font-size: 14px;">아이디 (이메일)</span></div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><input type="email" name="email" onchange="emailcheck()" class="form-control" placeholder="이메일을 입력해주세요"><div style="display:none;color:red;font-size:10px;">이메일을 확인해주세요.</div></div>
        <div class="col-4"></div>
      </div>
      <div style="height:10px;"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><span style="font-size: 14px;">비밀번호</span></div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><input type="password" name="password" onchange="passwordcheck()" class="form-control" placeholder="비밀번호를 입력해주세요"><div style="display:none;color:red;font-size:10px;">비밀번호는 4글자이상입력입니다.</div></div>
        <div class="col-4"></div>
      </div>
      <div style="height:10px;"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><span style="font-size: 14px;">비밀번호 확인</span></div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><input type="password" name="repassword" onchange="repasswordcheck()" class="form-control" placeholder="비밀번호를 다시 한 번 입력해주세요"><div style="display:none;color:red;font-size:10px;">비밀번호를 확인해주세요.</div></div>
        <div class="col-4"></div>
      </div>
      <div style="height:10px;"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><span style="font-size: 14px;">닉네임</span></div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><input type="text" name="nickname" onchange="nicknamecheck()" class="form-control" placeholder="사용하실 닉네임을 입력해주세요"><div style="display:none;color:red;font-size:10px;">닉네임을 2글자이상입력해주세요</div></div>
        <div class="col-4"></div>
      </div>
      <div style="height:10px;"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><span style="font-size: 14px;">선호하는 장르 (복수선택 가능)</span></div>
        <div class="col-4"></div>
      </div>
      <div style="height:10px;"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 row">
          <div class="col-6">
			  	<label><input type="checkbox" name="member_genre" value="1"> 액션</label><br>
				<label><input type="checkbox" name="member_genre" value="2"> 공포/스릴러</label><br>
				<label><input type="checkbox" name="member_genre" value="3"> 코미디</label><br>
				<label><input type="checkbox" name="member_genre" value="4"> SF/판타지</label><br>
		  </div>
          <div class="col-6">
			   <label><input type="checkbox" name="member_genre" value="5"> 드라마</label><br>
				<label><input type="checkbox" name="member_genre" value="6"> 멜로/로맨스</label><br>
				<label><input type="checkbox" name="member_genre" value="7"> 애니메이션</label><br>
				<label><input type="checkbox" name="member_genre" value="8"> 다큐멘터리</label><br>
		  </div>
        </div>
        <div class="col-4"></div>
      </div>
      <div style="height:20px;"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><div class="d-grid gap-2"><button type="submit" class="btn btn-outline-dark" id="signup-btn">회원가입</button></div></div>
        <div class="col-4"></div>
      </div>
	<script>
		
		$(document).on()
	</script>
  </div>
</th:block>
</html>